<!DOCTYPE html>
<html>

<head>
	<title>Statistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript">
	$('#confirm').click(() => {
    $.ajax({
      // all URLs are relative to http://localhost:3000/
      url: '/tops',
      type: 'POST', // <-- this is POST, not GET
      data: {
              name: $('#name').val(),
              numberUsage: $('#description').val(),
              status: $('#status').val()
            },
      success: (data) => {
        console.log('added!')
      }
    });
  });
</script>
</head>

<body>
	<div class="container">

    <h3>Add Clothes</h3>
      <div class="form-group">

        <label for="name">Name: </label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
			</div>
			<br>
      <div>
        <label for="description">Numer of Usage </label>
        <input type="text" class="form-control" id="description" placeholder="Description" name="description">


      </div>
			<br>
			<div>
        <label for="status">Clean/Dirty: </label>
        <input type="text" class="form-control" id="status" placeholder="Status" name="status">


      </div>
			<br>
			<a id="confirm" href="/closet"><button type="button">Add!</button></a>


</div>

</html>
