<!DOCTYPE html>
<html>

<head>
	<title>Statistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Firebase script -->
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/add.js"></script>
	<!--
	<script type="text/javascript">

    $(document).ready(()=>{

      console.log("add ready");
    	$('#addButton').click(() => {
        console.log("POST");

        $.ajax({
          // all URLs are relative to http://localhost:3000/
          url: 'add',
          type: 'POST', // <- this is POST, not GET
          data: {
                  name: $('#name').val(),
                  type: $('#type').val(),
                  temperature: $('#temperature').val(),
                  photo: $('#photo').val()
                },
          success: (data) => {
            console.log(data);
            console.log('added!');
          }
        });
      });
		})

</script>  -->
</head>

<body>
	<div class="topBar">

		<span style="font-size:30px;">Add Clothes</span>

	</div>
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
    <div class="form-group">
      <div>
      <label style="position:absolute; left:30%; " for="description">Type:</label>
      <select style="width:30%;position:absolute; left:45%;background-color: #ffe5aa;border-color:transparent;"type="text" id="type" name="type">
        <option value="Top">Top</option>
        <option value="Bottom">Bottom</option>
        <option value="Accessory">Accessory</option>
      </select>
    </div>
    <br>
		<br>

      <label  style="position:absolute; left:30%" for="name">Name: </label>
      <input style="width:30%;position:absolute; left:45%;background-color: #ffe5aa;border-color: transparent;border-radius:5px" type="text"  id="name" placeholder="Name" name="name" required></input>
		</div>
		<br>
		<br>
    <input style="position:absolute; left:30%" type="file" id="cloth" required>
    <br><img id="preview" src="">
		<br>
		<br>
		<div>
      <label style="position:absolute; left:30%"for="status">Temperature:</label>
      <select style="width:30%;position:absolute; left:55%;background-color: #ffe5aa;border-color: transparent;border-radius:5px"  id="temperature" name="temperature">
        <option value="hot">Hot</option>
        <option value="warm">Warm</option>
        <option value="cold">Cold</option>
      </select>
    </div>
		<br>
		<br>
		<br>
		<button class="submitButton"id="addButton" type="button" href="/closet">Add It</button>
    <img id="test" src="">
	</div>
	<div class="icon-bar">
		<a href="/closet"><img src="images/closet.png"></i></a>
		<a href="/index"><img src="images/weather.png"></i></a>
		<a href="/stat"><img src="images/stat.png"></i></a>
	</div>
</body>

</html>
