<!DOCTYPE html>
<html>

<head>
	<title>Statistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Firebase script -->
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/add.js"></script>
	<!--
	<script type="text/javascript">

    $(document).ready(()=>{

      console.log("add ready");
    	$('#addButton').click(() => {
        console.log("POST");

        $.ajax({
          // all URLs are relative to http://localhost:3000/
          url: 'add',
          type: 'POST', // <- this is POST, not GET
          data: {
                  name: $('#name').val(),
                  type: $('#type').val(),
                  temperature: $('#temperature').val(),
                  photo: $('#photo').val()
                },
          success: (data) => {
            console.log(data);
            console.log('added!');
          }
        });
      });
		})

</script>  -->
</head>

<body>
	<div class="container">
		<h1>ClothStat</h1>
    <h3>Add Clothes</h3>
    <div class="form-group">
      <div>
      <label for="description">Type </label>
      <select id="type" name="type">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="accessory">Accessory</option>
      </select>
    </div>
    <br>

      <label id="name" for="name">Name: </label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
		</div>
		<br>



		<div>
      <label for="status">Temperature: </label>
      <select id="temperature" name="temperature">
        <option value="hot">Hot</option>
        <option value="warm">Warm</option>
        <option value="cold">Cold</option>
      </select>
    </div>
		<br>

		<button id="addButton" type="button">Add!</button>
	</div>
	<div class="icon-bar">
		<a href="/closet"><i class="fas fa-bath"></i></a>
		<a href="/index"><i class="fas fa-sun"></i></a>
		<a href="/stat"><i class="far fa-chart-bar"></i></a>
	</div>
</body>

</html>
