<!DOCTYPE html>
<html>

<head>
	<title>Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body background="images/cloud.jpg">
	<div class="container">
		<h1>What to Wear Today</h1>
		<br>
		<div class="weather">
			<p>Wind stuff</p>
		</div>
		<div class="rec">
			<img src="images/top.png">
			<div id="clrright"></div>
			<img src="images/bottom.png">
		</div>
		<div id="clr"></div>

<br><br>
		<div class="top">
			<a href="/top">
			<img src="images/top.png">
			</a>
		</div>

		<div class="bottom">
			<a href="/bottom">
			<img src="images/bottom.png">
			</a>
		</div>
     <br><br><br>
		<div class="navbar">
			<ul>
				<li><a href="/closet"><img src="images/wardrobe.png"></a></li>
				<li><a href="/suggestion"><img src="images/suggestion.png"></a></li>
				<li><a href="/stat"><img src="images/stat.png"></a></li>
			</ul>
		</div>

	</div>
	<script src="js/weather.js"></script>
</body>

</html>
