<!DOCTYPE html>
<html>

<head>
	<title>Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>

<body>
	<div class="container">
		<h1>ClothStat</h1>
		<br>

		<div class="weather">
		</div>

		<div class="rec">
			<img src="images/top.png">
			<div id="clrright"></div>
			<img src="images/bottom.png">
		</div>
		<div id="clr"></div>
		<br><br>

		<div class="top">
			<a href="/top"><img src="images/top.png"></a>
		</div>

		<div class="bottom">
			<a href="/bottom"><img src="images/bottom.png"></a>
		</div>
     <br><br><br>

	</div>
	<div class="icon-bar">

		<a href="/closet"><i class="fas fa-bath"></i></a>
		<a href="/index"><i class="fas fa-sun"></i></a>
		<a href="/stat"><i class="far fa-chart-bar"></i></a>
	</div>
	<script src="js/weather.js"></script>
</body>

</html>
