<!DOCTYPE html>
<html>

<head>
	<title>Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
	<div class="container">
		<h1>What to Wear Today</h1>
		<div class="weather">
			<h1>Weather</h1>
		</div>

		<div class="top">
			<a href="/top">
			<img src="images/top.png">
			</a>
		</div>

		<div class="bottom">
			<a href="/bottom">
			<img src="images/bottom.png">
			</a>
		</div>

		<div class="navbar">
			<ul>
				<li><a href="/closet"><img src="images/wardrobe.png"></a></li>
				<li><a href="/suggestion"><img src="images/suggestion.png"></a></li>
				<li><a href="/stat"><img src="images/stat.png"></a></li>
			</ul>
		</div>

	</div>
</body>

</html>
