<!DOCTYPE html>
<!--
Creating the log in html page by reading the user input and let the users log in to their accounts.
-->
<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/style.css" rel="stylesheet">
  <!-- Firebase script -->
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <!--
  <script type="text/javascript">
    $(document).ready(() => {
      const database = firebase.database();

      $('#login').click(() => {
        console.log('login!');
        database.ref('users/').once('value', (snapshot) => {
          const data = snapshot.val();
          console.log('data: ',data);
        });
      });
    });


  </script>-->
</head>

<body style="background-color: #eee;background-image:url(https://firebasestorage.googleapis.com/v0/b/clothstat.appspot.com/o/backgroundImg.png?alt=media&token=8a868fd8-c61f-47ce-b75d-ae1499fc758c); background-size:600px 600px;background-repeat: no-repeat;background-position: 35% -40%; ">
  <div class="container" style="background-color:transparent;">
		<h1 style="color:black;">CloStat</h1>

		<div class="information" style="padding-top:90px">
    	<label style="color:black; text-align:left;" for="uname"><b>Username</b></label>
    	<input type="text" id="usernameinput" placeholder="Enter Username" name="uname">
		</div>
    <div class="information" style="padding-top:30px">
    	<label style="color:black;text-align:left;" for="pwd"><b>Password</b></label>
    	<input type="password" id="passwordinput" placeholder="Enter Password" name="pwd"><br><br>
      <input type="checkbox" onclick="togglePassword()">Show Password
		</div>




    <div style="padding-top:50px"></div>

    <button  style="width: 90px;height: 30px; display:inline-block; font-size: 16px; width=50%;" type="submit" id="login">Login</button>
    <!--<form action="/signup">-->
      <button style="width: 90px;height: 30px; display:inline-block; font-size: 16px;width=50%;"type="submit" id="signup"><a href='/signup'>Sign Up</a></button>
    <!--</form>  -->
  </div>
  <script src="js/login.js"></script>
</body>

</html>
