<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
  <div class="login">
    Username<br>
    <input type="text" id="UsernameInput"><br>
    Password<br>
    <input type="text" id="PasswordInput"><br>
    <button id="Login">Login</button>
    <button id="SignUp">Sign Up</button>
    <!-- <a href=""class="button">submit</a> -->
  </div>
  <div class="signup"></div>
  <script src="js/login.js"></script>
</body>

</html>
