<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Firebase script -->
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <!--
  <script type="text/javascript">
    $(document).ready(() => {
      const database = firebase.database();

      $('#login').click(() => {
        console.log('login!');
        database.ref('users/').once('value', (snapshot) => {
          const data = snapshot.val();
          console.log('data: ',data);
        });
      });
    });


  </script>-->
</head>

<body>
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" id="usernameinput" placeholder="Enter Username" name="uname">
    <br>
    <label for="pwd"><b>Password</b></label>
    <input type="text" id="passwordinput" placeholder="Enter Password" name="pwd">
    <br>

    <div id="status"></div>

    <button type="submit" id="login">Login</button>

    <form action="/signup">
      <button type="submit" id="signup">Sign Up</button>
    </form>
  </div>
  <script src="js/login.js"></script>
</body>

</html>
