<!DOCTYPE html>
<!--
Creating the sign up html page by reading the user input and let the users sign up new accounts
-->
<html>

<head>
	<title>Sign Up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
  <!-- Firebase script -->
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body style="background-color: #eee;background-image:url(https://firebasestorage.googleapis.com/v0/b/clothstat.appspot.com/o/backgroundImg.png?alt=media&token=8a868fd8-c61f-47ce-b75d-ae1499fc758c); background-size:600px 600px;background-repeat: no-repeat;background-position: 35% -40%; ">
  <div class="container" style="background-color:transparent;">
		<h1 style="text-align:center; color:black;">CloStat</h1>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div style="text-align:left; position:absolute; left:30%">
    <label style="color:black;"for="uname"><b>Username</b></label>
    <input type="text" id="usernameinput" placeholder="Enter Username" name="uname" required>
    <br>
		<br>
    <label style="color:black;"for="pwd"><b>Password</b></label>
    <input type="text" id="passwordinput" placeholder="Enter Password" name="pwd" required>
    <br>
		<br>
    <label style="color:black;text-align:left;"for="email"><b>Email</b></label>
    <input type="text" id="emailinput" placeholder="Enter Email" name="email" required>
    <br>
		<br>
    <label style="color:black;"for="loc"><b>Location</b></label>
    <input type="text" id="locationinput" placeholder="Enter Location" name="loc" required>
    <br>
		<br>
    <div id="error"></div>
    <button style="width: 90px;height: 30px; display:inline-block; font-size: 16px; width=50%;"type="submit" id="signup">Sign Up</button>
  </div>
</div>
  <script src="js/signup.js"></script>
</body>

</html>
