<!DOCTYPE html>
<html>

<head>
	<title>Statistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
	<script type="text/javascript">
		$(document).ready(() =>{
			console.log("jQuery on");
			$('#clean').click(() => {
				console.log('clean');

				$.ajax({
					url: 'items/',
					type: 'GET',
					dataType: 'json',
					success: (data) =>{
						console.log('ajax success', data);
						$('.percentage').attr('src','/images/Stas.jpg');
						$('#percentNumber').html('63%');
						$('#items').html('{{#each tops}} <h2 class="list">{{name}}</h2>{{/each}}');

					}
				})
			})
			$('#dirty').click(() => {
				console.log('dirty');

				$.ajax({
					url: 'items/',
					type: 'GET',
					dataType: 'json',
					success: (data) =>{
						console.log('ajax success', data);
						$('.percentage ').attr('src','/images/washing.jpg');
						$('#percentNumber').html('37%');
						$('#items').html('{{#each topsDirtty}} <h2 class="list">{{name}}</h2>{{/each}}');

					}
				})
			})
		})

	</script>
	<div class="container">

		<a href="/add"><i class="fa fa-plus" style="font-size:24px;margin-left:95%;margin-top:5%;color:black"></i></a>
		<a href="/" style="float:left">What to Wear Today</a>
		<br><br><br>
		<h1>Top</h1>
		<img class="percentage"src="/images/Stas.jpg">
		<br><br><br>
			<div id="items">
				{{#each tops}}

	        		<h2 class="list">{{name}}</h2>

	    		{{/each}}
	    	</div>

    <h2 id="percentNumber" style="text-align:left; margin-left:25%">63%</h2>
		<br><br><br>

		<div class="navbar">
			<ul>
				<li id="clean" style="margin-left:10%"><img src="images/casual-t-shirt-.svg"></li>
				<li id="dirty" style="margin-left:10%"><img src="images/washing-machine.svg"></li>
			</ul>
		</div>
	</div>

</html>
