<!DOCTYPE html>
<html>

<head>
	
	<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	  	apiKey: "AIzaSyAKVlEyGUyQUMyZmjf8wYLeCEGI7yY-Afg",
	  	authDomain: "clostat-cogs121.firebaseapp.com",
	  	databaseURL: "https://clostat-cogs121.firebaseio.com",
	  	projectId: "clostat-cogs121",
	  	storageBucket: "clostat-cogs121.appspot.com",
	  	messagingSenderId: "732715158637"
	  };
	  firebase.initializeApp(config);
	</script>
	<title>Statistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="js/stat.js"></script>

</head>

<body>
	<div class="container">
		<h1>ClothStat</h1>
		<h1>Stat</h1>
		<div id="chart_div"></div>
	</div>
	<div class="icon-bar">
		<a href="/closet"><i class="fas fa-bath"></i></a>
		<a href="/index"><i class="fas fa-sun"></i></a>
		<a href="/stat"><i class="far fa-chart-bar"></i></a>
	</div>
</body>
</html>
