<!DOCTYPE html>
<html>

<head>
	<title>Suggestion</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
	<div class="container">
		<h1>ClothStat</h1>
		<h1>Suggestion</h1>
	</div>
</body>

</html>
