<!DOCTYPE html>
<html>

<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
	<div class="container">
		<h1>What to Wear Today</h1>
		<br>
		<div class="weather">
			<button onclick="getLocation()" id="weather">Weather</button>
			<div class="showTemp"></div>
		</div>
	</div>
    <script src="js/weather.js"></script>
</body>

</html>
