<!DOCTYPE html>
<html>

<head>
	<title>Top</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
	<script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="js/top.js"></script>
</head>

<body>
	<div class="topBar">
		<a href="/washing"><img class="laundry" src="images/washing-machine.svg"/></a>
		<span style="font-size:30px;">Top</span>
		<a  href="/add"><i id="addIcon"class="fa fa-plus" ></i></a>
	</div>
	<div class="container">
		<br>
		<br>
			<form action="/index" method="get">
			<div class="panel-group" id="accordion">
			</div>
			<input class="submitButton" type="submit" value="Wear It">
			</form>
</div>
 <br><br><br><br>
</body>
<div class="icon-bar">
	<a href="/closet"><img src="images/closet.png"></i></a>
	<a href="/index"><img src="images/weather.png"></i></a>
	<a href="/stat"><img src="images/stat.png"></i></a>
</div>
</html>
