<!DOCTYPE html>
<html>

<head>
	<title>Top</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyA9qeDEWivwl8pN0OjpKABOS8bOZZHZiOw",
      authDomain: "clothstat.firebaseapp.com",
      databaseURL: "https://clothstat.firebaseio.com",
      projectId: "clothstat",
      storageBucket: "clothstat.appspot.com",
      messagingSenderId: "692402704354"
    };
    firebase.initializeApp(config);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
		<h1>ClothStat</h1>
		<h1>Top</h1>
		<div class="panel-group" id="accordion">
		    <div class="panel panel-default">
		      <div class="panel-heading">

		        <p class="title" data-toggle="collapse" data-parent="#accordion" href="#collapse1"> Blue Shirt</p>
						<div class="round">
    					<input type="checkbox" id="checkbox" />
    					<label for="checkbox"></label>
  					</div>
		      </div>
		      <div id="collapse1" class="panel-collapse collapse in">
		        <div class="panel-body">
							<img class="pic" width="120" src="/images/blueShirt.jpg">
							<p class="words">You have worn this shirt 3 times this month. </p>
						</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
					<div class="panel-heading">
					 <p  data-toggle="collapse" data-parent="#accordion" href="#collapse2"class="title"> Pink Shirt</p>
		      </div>
		      <div id="collapse2" class="panel-collapse collapse">
		        <div class="panel-body">
							<img class="pic" width="120" src="/images/pinkShirt.jpg">
							<p class="words">You have not worn this shirt since last year. </p>
						</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
					<div data-toggle="collapse" data-parent="#accordion" href="#collapse3"class="panel-heading">

					 <p class="title"> Orange Tee</p>
		      </div>
		      <div id="collapse3" class="panel-collapse collapse">
		        <div class="panel-body">
							<img class="pic" width="120" src="/images/orangeTee.jpg">
							<p class="words">You have worn this tee 2 times this month</p>
						</div>
		      </div>
		    </div>
		  </div>
	</div>
	<div class="icon-bar">
		<a href="/closet"><i class="fas fa-bath"></i></a>
		<a href="/index"><i class="fas fa-sun"></i></a>
		<a href="/stat"><i class="far fa-chart-bar"></i></a>
	</div>
</body>
</html>
