<!DOCTYPE html>
<html>

<head>
	<title>Statistic</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
	<div class="container">

		<i class="fa fa-plus" style="font-size:24px;margin-left:95%;margin-top:5%;color:black"></i>
		<a href="/" style="float:left">What to Wear Today</a>
		<br><br><br>
		<h1>Top</h1>
		<img class="percentage"src="/images/washing.jpg">
		<br><br><br>
		{{#each topsDirtty}}
			<div>
	        		<h2 class="list">{{name}}</h2>

	    	</div>
		{{/each}}
    <h2 style="text-align:left; margin-left:25%">37%</h2>
		<br><br><br>

		<div class="navbar">
			<ul>
				<li style="margin-left:10%"><a href="/stat"><img src="images/casual-t-shirt-.svg"></a></li>
				<li style="margin-left:10%"><a href="/washing"><img src="images/washing-machine.svg"></a></li>
			</ul>
		</div>

</html>
