body {
  color: #fff;
  height: 100%;
  margin-bottom: 30px;
}

*{
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.collapse.in {
    display: block;
}

.collapse {
    display: none;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

.list{
  text-align: left;
  margin-left: 60%;
  margin-top: 5%;
}

.percentage{
  position: absolute;
  width:15%;
  top: 28%;
  left: 22%;
  height: 50%;

}

.container{
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
    min-height: 100%;
    background: linear-gradient(#d1e1f9, #b0cffc, #7bb0fc);
}

.weather{
    width: 50%;
    font-size: 25px;
    color: black;
    display:inline;
    float: left;
}



.weather img{
    width: 50%;
    max-height: 15vh;
}

#clr{
  clear:both;
}

#clrright{
  clear:right;
}

.rec img{
  width:50%;
  max-height: 10vh;
  border-radius: 50%;
  border: 5px solid black;
  float: right;
  display: none;
}

.top img{
    width: 50%;
    max-height: 25vh;
    border-radius: 50%;
    border: 5px solid black;
}

.bottom img{
    width: 50%;
    max-height: 25vh;
    border-radius: 50%;
    border: 5px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li img{
  width:33.3%;
}

li {
    float: left;
    width:33.3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

li a:hover {
    background-color: #fff;
}

.icon-bar {
    width: 100%;
    background-color: #54c0ff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.icon-bar a {
    float: left;
    width: 33.3%;
    display: block;
    text-align: center;
    padding: 11px ;
    transition: all 0.2s ease;
    color: white;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: #ffffff;
}

.active {
    background-color: #5bc5ff !important;
}
