body {
  background: #D2E7E8;
  color: #F19CA2;
}

.list{
  text-align: left;
  margin-left: 60%;
  margin-top: 5%;
}

.percentage{
  position: absolute;
  width:15%;
  top: 28%;
  left: 22%;
  height: 50%;

}

.container{
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

.weather{
    border: 10px solid #FFFFFF;
}

.top img{
    width: 50%;
    max-height: 20vh;
    border-radius: 50%;
    border: 10px solid #FFFFFF;
}

.bottom img{
    width: 50%;
    max-height: 20vh;
    border-radius: 50%;
    border: 10px solid #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li img{
  width:33.3%;
}

li {
    float: left;
    width:33.3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
